.related-wrap {
	margin-bottom: 40px;
	background: #eee;
	padding: 5px;
}

.related-wrap .page {
	font-weight: bold;
}

.related {
	height: 200px;
	display: flex;
	max-width: 100%;
	overflow: scroll;
}

.item {
	min-width: 200px;
	margin: 5px;
	box-sizing: border-box;
	background: #eefaaf;
}