body, html {
	margin: 0;
	min-height: 100%;
}
body {
    font-family: Zombocom, sans-serif;
    letter-spacing: -.1px;
    padding: 0 10px;
}
.header {
    color: #222;
    display: flex;
    align-items: baseline;
    // padding: 15px;
    flex-wrap: wrap;
}
.header a {
    text-decoration: none;
}
.splash {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
    color: #222;
    text-decoration: none;
}
.page {
	// height: 100%;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
}
.display svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.demo line {
	// pointer-events: none;
    // stroke: #98A99E;
	stroke: rgb(201, 135, 135);
	cursor: move;
}
.demo circle {
	// pointer-events: none;
    // fill: #98A99E;
	fill: rgb(201, 135, 135);
	transition: fill .4s;
	cursor: move;
}
// circle:hover {
// 	fill: rgba(0, 0, 0, 0.4);
// 	cursor: move;
// }
.demo {
	// display: flex;
	// flex: 1;	
	// margin: 15px;
	/*border-top: 1px solid rgb(216, 208, 187);*/
}
.demo .editor {
	/*width: 400px;*/
    white-space: pre;
	font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
	font-size: 12px;
	padding: 15px;
    color: white;
	background: #98A99E;
}
.demo .display {
	// flex: 1;
	position: relative;
	background: #fdf6e3;
	// border: 15px solid #98A99E;
	border-radius: 3px;
	margin-top: 15px;
	height: 300px;
}
.lead {
	height: 60px;
}
.npm {
    display: inline-block;
    background: #EFEFEF;
    padding: 10px;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    border-radius: 3px;
}
// code {
//     border-radius: 3px;
//     padding: 10px;
//     background: #EFEFEF;
//     font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
//     white-space: pre-wrap;
//     word-break: break-all;	
// }
#sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 215px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    // font-size: 14px;
    box-sizing: border-box;
    color: #CCC;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}
#sidebar.shown {
    opacity: 1;
    pointer-events: all;
}
.section {
    transition: .3s;
    margin: 0;
    cursor: pointer;
}
.gallery-plug {
    color: #A5A5A5;
}
.literal {
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
    background: #EFEFEF;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    font-size: 14px;
}
li {
    margin-bottom: 8px;
}
li > a {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    padding-right: 16px;
    display: block;
    text-align: right;
    color: rgba(0, 0, 0, 0.37);
    /* text-decoration: none; */
    margin-top: -30px;
    margin-right: 5px;
    position: relative;
}
.nav-wrap {
    flex: 1;
    text-align: right;
}
.nav, .npm {
    margin-left: 10px
}
.nav.current {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}
.tagline {
    margin-left: 10px;
    color: #a5a5a5;
}

@media (max-width: 900px) {

#github {
    display: none;
}

}